<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-extend.min.css">
	<link rel="stylesheet" href="/css/site.min.css">
	<link rel="stylesheet" href="/fonts/material-design/material-design.min.css">
	<link rel="stylesheet" href="/fonts/font-awesome/font-awesome.min.css">

	{{{block "link"}}}

	<link rel="stylesheet" href="/css/no-trace.css">
</head>
<body class="{{class}}">
	
	{{> nav}}

	<div class="page">
		<div class="page-content container-fluid">
			{{{block "main"}}}
		</div>
	</div>

	{{> footer}}

	<script src="/js/common/jquery.js"></script>
	<script src="/js/common/bootstrap.js"></script>

	{{{block "script"}}}
</body>
</html>